
 
<style>
    .fa-Ping:before {
        content: "\f0c0";
    }
 

   
    .fa-Logs:before {
        content: "\f084";
    }


</style>
<aside>
    <div class="sidebar nav-collapse" id="sidebar">
        <ul class="navigation sidebar-menu">
            <li><a href="/home/PingManagement"><i class="fa fa-users"></i> Ping </a></li>

        </ul>
    </div>
</aside>

 